{% extends "base.html" %}

{% block content %}
<style>
  .container{
    box-shadow: 3px 2px 3px 3px rgb(185, 232, 253);
    margin-top: 100px;
    height: 300px;
    width: 50%;
  }
  h2{
    margin-left: 50px;
    margin-top: 10px;
    
  }
  button{
    margin-left: 50px;
    
  }
</style>
    
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <h2>Sign Up</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="button" class="btn btn-outline-primary">Sign up</button>
            </form>
          </div>
        </div>
      </div>
{% endblock %}